%p
  = f.label :name, t(:Name)
  %br
  = f.text_field "name"

%table.listing{:cellpadding => "2", :cellspacing => "0", :width => "100%"}
  %thead
    %tr
      %th{:colspan => "10"}
        %h3= t(:Global_Permissions)
  %tbody
    = render :partial => "admin/permissions/form"
